*{text-align: center;
    background-color:black;
    
}
#crystals{
    width: 300px;
    height: 300px;
    display: inline;
    margin:0 auto;
}
.crystal-image{
    display: inline;
 
}
h1{
    font-family:'Beth Ellen', cursive;
    color: aliceblue;
}
p{
    font-family:'Roboto Mono', monospace;
    margin-left:160px;
    margin-right:160px;
color: aliceblue;
}
h2,h3{
    font-family: 'Cedarville Cursive', cursive;
    color: aliceblue;
}